'use strict';

var utils = require('../utils/writer.js');
{{#operations}}
var {{classname}} = require('../{{implFolder}}/{{classname}}Service');
{{#operation}}
{{#contents}}

module.exports.{{nickname}} = function {{nickname}} (req, res, next{{#parameters}}{{#@first}}, {{/@first}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/parameters}}) {
	{{classname}}.{{nickname}}({{#parameters}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/parameters}})
		.then(function (response) {
			utils.writeResponse(res, response.response, response.code, response.contentType);
		})
		.catch(function (response) {
			utils.writeResponse(res, response.response, response.code);
		});
};
{{/contents}}
{{/operation}}
{{/operations}}
